@import "./buttons/lol";
@import "./fonts/fontsMain";
@import "./boxes/boxes";
//variables
@import "./variables/variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 3rem;
}
